(
    size: (862, 692),
    textures: [
        // pink kid [0..9]
        (
            min: (3, 67),
            max: (17, 83),
        ),
        (
            min: (17, 67),
            max: (31, 83),
        ),
        (
            min: (33, 67),
            max: (46, 83),
        ),
        (
            min: (48, 67),
            max: (62, 83),
        ),
        (
            min: (64, 67),
            max: (78, 83),
        ),
        (
            min: (80, 67),
            max: (94, 83),
        ),
        (
            min: (96, 67),
            max: (110, 83),
        ),
        (
            min: (112, 67),
            max: (125, 83),
        ),
        (
            min: (128, 67),
            max: (141, 83),
        ),
    ],
)
