(
    passability: Always,
    visuals: {
        (): (
            base: Static(7),
        ),
        ( // top left corner
            top_left: Other,
            top: Other,
            left: Other,
            right: Same,
        ): (
            below: [
                Neighbor(TopLeft),
            ],
            base: Static(3),
        ),
        ( // top edge
            top: Other,
            left: Same,
            right: Same,
        ): (
            base: Static(4),
        ),
        ( // top right corner
            top: Other,
            top_right: Other,
            left: Same,
            right: Other,
        ): (
            below: [
                Neighbor(TopRight),
            ],
            base: Static(5),
        ),
        ( // left edge
            top: Same,
            left: Other,
            right: Same,
        ): (
            base: Static(6),
        ),
        ( // right edge
            top: Same,
            left: Same,
            right: Other,
        ): (
            base: Static(8),
        ),
        ( // left and right edge
            top: Same,
            left: Other,
            right: Other,
        ): (
            base: Static(9),
        ),
        ( // left, right and top edge
            top: Other,
            left: Other,
            right: Other,
        ): (
            below: [
                Neighbor(Top)
            ],
            base: Static(0),
        ),
        ( // top left land corner
            top_left: Other,
            top: Same,
            top_right: Same,
            left: Same,
            right: Same,
        ): (
            base: Static(7),
            above: [
                Static(1),
            ],
        ),
        ( // top left land corner and right edge
            top_left: Other,
            top: Same,
            top_right: Same,
            left: Same,
            right: Other,
        ): (
            base: Static(8),
            above: [
                Static(1),
            ],
        ),
        ( // top right land corner
            top_left: Same,
            top: Same,
            top_right: Other,
            left: Same,
            right: Same,
        ): (
            base: Static(7),
            above: [
                Static(2),
            ],
        ),
        ( // top right land corner and left edge
            top_left: Same,
            top: Same,
            top_right: Other,
            left: Other,
            right: Same,
        ): (
            base: Static(6),
            above: [
                Static(2),
            ],
        ),
        ( // top right and top left land corners
            top_left: Other,
            top: Same,
            top_right: Other,
            left: Same,
            right: Same,
        ): (
            base: Static(7),
            above: [
                Static(1),
                Static(2),
            ],
        ),
    },
)
