(
    group: "land",
    edge_cases: {
        (): (
            base: Static(0),
        ),
        (
            top: Either(["water_calm", "water_wild"]),
        ): (
            base: Static(0),
            above: [
                Static(1)
            ],
        ),
    },
)
