(
    group: "land",
    edge_cases: {
        (): (
            base: Static(0),
        ),
        (
            top: Either("water"),
        ): (
            base: Static(0),
            above: [
                Static(1)
            ],
        ),
    },
)
