(
    group: "land",
    edge_cases: {
        (): (
            base: Static(43),
        ),
        // single corners and edges
        // ========================
        ( // top left corner
            right: SameGroup,
            bottom: SameGroup,
            bottom_right: SameGroup,
            top: Either("water_wild"),
            left: Either("water_wild"),
        ): (
            below: [
                Neighbor(Top),
            ],
            base: Animated("sand_top_left_corner",), 
        ),
        ( // top edge
            top: Either("water_wild"),
        ): (
            below: [
                Neighbor(Top),
            ],
            base: Animated("sand_top_edge",), 
        ),
        ( // top right corner
            left: SameGroup,
            bottom_left: SameGroup,
            bottom: SameGroup,
            top: Either("water_wild"),
            right: Either("water_wild"),
        ): (
            below: [
                Neighbor(Top),
            ],
            base: Animated("sand_top_right_corner",), 
        ),
        ( // left edge
            left: Either("water_wild"),
        ): (
            below: [
                Neighbor(Left),
            ],
            base: Animated("sand_left_edge",), 
        ),
        ( // right edge
            right: Either("water_wild"),
        ): (
            below: [
                Neighbor(Right),
            ],
            base: Animated("sand_right_edge",), 
        ),
        ( // bottom left corner
            top: Same,
            top_right: Same,
            right: Same,
            left: Either("water_wild"),
            bottom: Either("water_wild"),
        ): (
            below: [
                Neighbor(Bottom),
            ],
            base: Animated("sand_bot_left_corner",), 
        ),
        ( // bottom edge
            top: SameGroup,
            left: SameGroup,
            right: SameGroup,
            bottom: Either("water_wild"),
        ): (
            below: [
                Neighbor(Bottom),
            ],
            base: Animated("sand_bot_edge",),
        ),
        ( // bottom right corner
            top_left: SameGroup,
            top: SameGroup,
            left: SameGroup,
            right: Either("water_wild"),
            bottom: Either("water_wild"),
        ): (
            below: [
                Neighbor(Bottom),
            ],
            base: Animated("sand_bot_right_corner",), 
        ),
        // ==============
        // opposite edges
        // ==============
        ( // top and bottom edge
            top: Either("water_wild"),
            bottom: Either("water_wild"),
        ): (
            below: [
                Neighbor(Bottom),
            ],
            base: Animated("sand_top_bot_edge",),
        ),
        ( // left and right edge
            left: Either("water_wild"),
            right: Either("water_wild"),
        ): (
            below: [
                Neighbor(Left),
            ],
            base: Animated("sand_left_right_edge",), 
        ),
        // ============
        // triple edges
        // ============
        ( // top, left and bottom edge
            // top_left: Either("water_wild"),
            top: Either("water_wild"),
            left: Either("water_wild"),
            right: Same,
            // bottom_left: Either("water_wild"),
            bottom: Either("water_wild"),
        ): (
            below: [Neighbor(Left)],
            base: Animated("sand_top_left_bot_edge",),
        ),
        ( // left, right and top edge
            // top_left: Either("water_wild"),
            top: Either("water_wild"),
            // top_right: Either("water_wild"),
            left: Either("water_wild"),
            right: Either("water_wild"),
            bottom: Same,
        ): (
            below: [Neighbor(Top)],
            base: Animated("sand_left_top_right_edge",), 
        ),
        ( // top, right and bottom edge
            top: Either("water_wild"),
            // top_right: Either("water_wild"),
            left: Same,
            right: Either("water_wild"),
            bottom: Either("water_wild"),
            // bottom_right: Either("water_wild"), 
        ): (
            below: [Neighbor(Right)],
            base: Animated("sand_top_right_bot_edge",),
        ),
        ( // left, bottom and right edge
            top: Same,
            left: Either("water_wild"),
            // bottom_left: Either("water_wild"),
            bottom: Either("water_wild"),
            // bottom_right: Either("water_wild"), 
            right: Either("water_wild"),
        ): (
            below: [Neighbor(Bottom)],
            base: Animated("sand_left_bot_right_edge",),
        ),
        // ==========================
        // single outer water corners
        // ==========================
        ( // top left water corner
            top_left: Either("water_wild"),
            top: Same,
            left: Same,
        ): (
            base: Static(43),
            above: [
               Animated( "sand_top_left_water_corner",), 
            ],
        ),
        ( // top right water corner
            top: Same,
            top_right: Either("water_wild"),
            right: Same,
        ): (
            base: Static(43), 
            above: [
               Animated("sand_top_right_water_corner",), 
            ],
        ),
        ( // bottom left water corner
            left: Same,
            bottom_left: Either("water_wild"),
            bottom: Same,
        ): (
            base: Static(43),
            above: [
                Animated("sand_bot_left_water_corner",),
            ],
        ),
        ( // bottom right water corner
            right: Same,
            bottom: Same,
            bottom_right: Either("water_wild"),
        ): (
            base: Static(43),
            above: [
                Animated("sand_bot_right_water_corner",),
            ],
        ),
        // ==========================
        // both opposite outer water corners
        // ==========================
        ( // top left and bottom right water corners
            top_left: Either("water_wild"),
            top: Same,
            left: Same,
            right: Same,
            bottom: Same,
            bottom_right: Either("water_wild"),
        ): (
            base: Static(43),
            above: [
                Animated("sand_top_left_water_corner",),
                Animated("sand_bot_right_water_corner",),
            ],
        ),
        ( // top right and bottom left water corners
            top_right: Either("water_wild"),
            top: Same,
            left: Same,
            right: Same,
            bottom: Same,
            bottom_left: Either("water_wild"),
        ): (
            base: Static(43),
            above: [
                Animated("sand_top_right_water_corner",),
                Animated("sand_bot_left_water_corner",),
            ],
        ),
        // =====================================
        // top left outer water corner and edges
        // =====================================
        ( // top left water corner and right edge
            top_left: Either("water_wild"),
            top: Same,
            right: Either("water_wild"),
            left: Same,
        ): (
            below: [Neighbor(Right)],
            base: Animated("sand_right_edge",),
            above: [
                Animated("sand_top_left_water_corner",),
            ],
        ),
        ( // top left water corner and bottom edge
            top_left: Either("water_wild"),
            top: Same,
            bottom: Either("water_wild"),
            left: Same,
        ): (
            below: [Neighbor(Bottom)],
            base: Animated("sand_bot_edge",),
            above: [
                Animated("sand_top_left_water_corner",),
            ],
        ),
        ( // top left water corner and bottom right corner
            top_left: Either("water_wild"),
            top: Same,
            bottom: Either("water_wild"),
            left: Same,
            right: Either("water_wild"),
        ): (
            below: [Neighbor(Right)],
            base: Animated("sand_bot_right_corner",),
            above: [
                Animated("sand_top_left_water_corner",),
            ],
        ),
        // ======================================
        // top right outer water corner and edges
        // ======================================
        ( // top right water corner and left edge
            top: Same,
            top_right: Either("water_wild"),
            left: Either("water_wild"),
            right: Same,
        ): (
            below: [Neighbor(Left)],
            base: Animated("sand_left_edge",),
            above: [
                Animated("sand_top_right_water_corner",),
            ],
        ),
        ( // top right water corner and bottom edge
            top: Same,
            top_right: Either("water_wild"),
            bottom: Either("water_wild"),
            right: Same,
        ): (
            below: [Neighbor(Bottom)],
            base: Animated("sand_bot_edge",),
            above: [
                Animated("sand_top_right_water_corner",),
            ],
        ),
        ( // top right water corner and bottom left corner
            top: Same,
            top_right: Either("water_wild"),
            left: Either("water_wild"),
            bottom: Either("water_wild"),
            right: Same,
        ): (
            below: [Neighbor(Left)],
            base: Animated("sand_bot_left_corner",),
            above: [
                Animated("sand_top_right_water_corner",),
            ],
        ),
        // ========================================
        // bottom left outer water corner and edges
        // ========================================
        ( // bottom left water corner and top edge
            left: Same,
            bottom_left: Either("water_wild"),
            bottom: Same,
            top: Either("water_wild"),
        ): (
            below: [Neighbor(Top)],
            base: Animated("sand_top_edge",),
            above: [
                Animated("sand_bot_left_water_corner",),
            ],
        ),
        ( // bottom left water corner and right edge
            left: Same,
            bottom_left: Either("water_wild"),
            bottom: Same,
            right: Either("water_wild"),
        ): (
            below: [Neighbor(Right)],
            base: Animated("sand_right_edge",),
            above: [
                Animated("sand_bot_left_water_corner",),
            ],
        ),
        ( // bottom left water corner and top right corner
            left: Same,
            bottom_left: Either("water_wild"),
            bottom: Same,
            top: Either("water_wild"),
            right: Either("water_wild"),
        ): (
            below: [Neighbor(Top)],
            base: Animated("sand_top_right_corner",),
            above: [
                Animated("sand_bot_left_water_corner",),
            ],
        ),
        // =========================================
        // bottom right outer water corner and edges
        // =========================================
        ( // bottom right water corner and top edge
            top: Either("water_wild"),
            right: Same,
            bottom: Same,
            bottom_right: Either("water_wild"),
        ): (
            below: [Neighbor(Top)],
            base: Animated("sand_top_edge",),
            above: [
                Animated("sand_bot_right_water_corner",),
            ],
        ),
        ( // bottom right water corner and left edge
            right: Same,
            bottom: Same,
            bottom_right: Either("water_wild"),
            left: Either("water_wild"),
        ): (
            below: [Neighbor(Left)],
            base: Animated("sand_left_edge",),
            above: [
                Animated("sand_bot_right_water_corner",),
            ],
        ),
        ( // bottom right water corner and top left corner
            right: Same,
            bottom: Same,
            bottom_right: Either("water_wild"),
            top: Either("water_wild"),
            left: Either("water_wild"),
        ): (
            below: [Neighbor(Left)],
            base: Animated("sand_top_left_corner",),
            above: [
                Animated("sand_bot_right_water_corner",),
            ],
        ),
        // ========================
        // left outer water corners
        // ========================
        ( // top left and bottom left water corners
            top_left: Either("water_wild"),
            top: Same,
            left: Same,
            bottom_left: Either("water_wild"),
            bottom: Same,
        ): (
            base: Static(43),
            above: [
               Animated("sand_top_left_water_corner",), 
               Animated("sand_bot_left_water_corner",), 
            ],
        ),
        ( // top left and bottom left water corners and right edge
            top_left: Either("water_wild"),
            top: Same,
            left: Same,
            bottom_left: Either("water_wild"),
            bottom: Same,
            right: Either("water_wild"),
        ): (
            below: [Neighbor(Right)],
            base: Animated("sand_right_edge",),
            above: [
               Animated("sand_top_left_water_corner",), 
               Animated("sand_bot_left_water_corner",), 
            ],
        ),
        // =======================
        // top outer water corners
        // =======================
        ( // top left and top right water corners
            top_left: Either("water_wild"),
            top: Same,
            top_right: Either("water_wild"),
            left: Same,
            right: Same,
        ): (
            base: Static(43),
            above: [
               Animated("sand_top_right_water_corner",), 
               Animated("sand_top_left_water_corner",), 
            ],
        ),
        ( // top left and top right water corners and bottom edge
            top_left: Either("water_wild"),
            top: Same,
            top_right: Either("water_wild"),
            left: Same,
            right: Same,
            bottom: Either("water_wild"),
        ): (
            below: [Neighbor(Bottom)],
            base: Animated("sand_bot_edge",),
            above: [
               Animated("sand_top_right_water_corner",), 
               Animated("sand_top_left_water_corner",), 
            ],
        ),
        // =========================
        // right outer water corners
        // =========================
        ( // top right and bottom right water corners
            top_right: Either("water_wild"),
            top: Same,
            bottom_right: Either("water_wild"),
            right: Same,
            bottom: Same,
        ): (
            base: Static(43),
            above: [
               Animated("sand_top_right_water_corner",), 
               Animated("sand_bot_right_water_corner",), 
            ],
        ),
        ( // top right and bottom right water corners and left edge
            top_right: Either("water_wild"),
            top: Same,
            bottom_right: Either("water_wild"),
            right: Same,
            bottom: Same,
            left: Either("water_wild"),
        ): (
            below: [Neighbor(Left)],
            base: Animated("sand_left_edge",),
            above: [
               Animated("sand_top_right_water_corner",), 
               Animated("sand_bot_right_water_corner",), 
            ],
        ),
        // ==========================
        // bottom outer water corners
        // ==========================
        ( // bottom left and bottom right water corners
            bottom_left: Either("water_wild"),
            bottom_right: Either("water_wild"),
            left: Same,
            bottom: Same,
            right: Same,
        ): (
            base: Static(43),
            above: [
               Animated("sand_bot_left_water_corner",), 
               Animated("sand_bot_right_water_corner",), 
            ],
        ),
        ( // bottom left and bottom right water corners and top edge
            bottom_left: Either("water_wild"),
            bottom_right: Either("water_wild"),
            left: Same,
            bottom: Same,
            right: Same,
            top: Either("water_wild"),
        ): (
            below: [Neighbor(Top)],
            base: Animated("sand_top_edge",),
            above: [
               Animated("sand_bot_left_water_corner",), 
               Animated("sand_bot_right_water_corner",), 
            ],
        ),
        // ==========================
        // triple outer water corners
        // ==========================
        ( // bottom left, top left and top right water corners
            bottom: Same,
            bottom_left: Either("water_wild"),
            left: Same,
            top_left: Either("water_wild"),
            top: Same,
            top_right: Either("water_wild"),
            right: Same,
        ): (
            base: Static(43),
            above: [
                Animated("sand_bot_left_water_corner",),
                Animated("sand_top_left_water_corner",),
                Animated("sand_top_right_water_corner",),
            ],
        ),
        ( // top left, top right and bottom right water corners
            left: Same,
            top_left: Either("water_wild"),
            top: Same,
            top_right: Either("water_wild"),
            right: Same,
            bottom_right: Either("water_wild"),
            bottom: Same,
        ): (
            base: Static(43),
            above: [
                Animated("sand_top_left_water_corner",),
                Animated("sand_top_right_water_corner",),
                Animated("sand_bot_right_water_corner",),
            ],
        ),
        ( // top right, bottom right and bottom left water corners
            top: Same,
            top_right: Either("water_wild"),
            right: Same,
            bottom_right: Either("water_wild"),
            bottom: Same,
            bottom_left: Either("water_wild"),
            left: Same,
        ): (
            base: Static(43),
            above: [
                Animated("sand_top_right_water_corner",),
                Animated("sand_bot_right_water_corner",),
                Animated("sand_bot_left_water_corner",),
            ],
        ),
        ( // bottom right, bottom left and top left water corners
            right: Same,
            bottom_right: Either("water_wild"),
            bottom: Same,
            bottom_left: Either("water_wild"),
            left: Same,
            top_left: Either("water_wild"),
            top: Same,
        ): (
            base: Static(43),
            above: [
                Animated("sand_bot_right_water_corner",),
                Animated("sand_bot_left_water_corner",),
                Animated("sand_top_left_water_corner",),
            ],
        ),
        ( // all water corners
            top: Same,
            left: Same,
            right: Same,
            bottom: Same,
            top_left: Either("water_wild"),
            top_right: Either("water_wild"),
            bottom_left: Either("water_wild"),
            bottom_right: Either("water_wild"),
        ): (
            base: Animated("sand_all_water_corners",),
        ),
        ( // surrounded by water
            top: Either("water_wild"),
            left: Either("water_wild"),
            right: Either("water_wild"),
            bottom: Either("water_wild"),
        ): (
            base: Animated("sand_surrounded_by_water",),
        ),
    },
)
