(
    size: (672, 288),
    textures: [
        (
            min: (0, 0),
            max: (32, 32),
        ),
        (
            min: (32, 0),
            max: (64, 32),
        ),
        (
            min: (64, 0),
            max: (96, 32),
        ),
        (
            min: (96, 0),
            max: (128, 32),
        ),
        (
            min: (128, 0),
            max: (160, 32),
        ),
        (
            min: (160, 0),
            max: (192, 32),
        ),
        (
            min: (192, 0),
            max: (224, 32),
        ),
        (
            min: (224, 0),
            max: (256, 32),
        ),
        (
            min: (256, 0),
            max: (288, 32),
        ),
        (
            min: (288, 0),
            max: (320, 32),
        ),
        (
            min: (320, 0),
            max: (352, 32),
        ),
        (
            min: (352, 0),
            max: (384, 32),
        ),
        (
            min: (384, 0),
            max: (416, 32),
        ),
        (
            min: (416, 0),
            max: (448, 32),
        ),
        (
            min: (448, 0),
            max: (480, 32),
        ),
        (
            min: (480, 0),
            max: (512, 32),
        ),
        (
            min: (512, 0),
            max: (544, 32),
        ),
        (
            min: (544, 0),
            max: (576, 32),
        ),
        (
            min: (576, 0),
            max: (608, 32),
        ),
        (
            min: (608, 0),
            max: (640, 32),
        ),
        (
            min: (640, 0),
            max: (672, 32),
        ),
        (
            min: (0, 32),
            max: (32, 64),
        ),
        (
            min: (32, 32),
            max: (64, 64),
        ),
        (
            min: (64, 32),
            max: (96, 64),
        ),
        (
            min: (96, 32),
            max: (128, 64),
        ),
        (
            min: (128, 32),
            max: (160, 64),
        ),
        (
            min: (160, 32),
            max: (192, 64),
        ),
        (
            min: (192, 32),
            max: (224, 64),
        ),
        (
            min: (224, 32),
            max: (256, 64),
        ),
        (
            min: (256, 32),
            max: (288, 64),
        ),
        (
            min: (288, 32),
            max: (320, 64),
        ),
        (
            min: (320, 32),
            max: (352, 64),
        ),
        (
            min: (352, 32),
            max: (384, 64),
        ),
        (
            min: (384, 32),
            max: (416, 64),
        ),
        (
            min: (416, 32),
            max: (448, 64),
        ),
        (
            min: (448, 32),
            max: (480, 64),
        ),
        (
            min: (480, 32),
            max: (512, 64),
        ),
        (
            min: (512, 32),
            max: (544, 64),
        ),
        (
            min: (544, 32),
            max: (576, 64),
        ),
        (
            min: (576, 32),
            max: (608, 64),
        ),
        (
            min: (608, 32),
            max: (640, 64),
        ),
        (
            min: (640, 32),
            max: (672, 64),
        ),
        (
            min: (0, 64),
            max: (32, 96),
        ),
        (
            min: (32, 64),
            max: (64, 96),
        ),
        (
            min: (64, 64),
            max: (96, 96),
        ),
        (
            min: (96, 64),
            max: (128, 96),
        ),
        (
            min: (128, 64),
            max: (160, 96),
        ),
        (
            min: (160, 64),
            max: (192, 96),
        ),
        (
            min: (192, 64),
            max: (224, 96),
        ),
        (
            min: (224, 64),
            max: (256, 96),
        ),
        (
            min: (256, 64),
            max: (288, 96),
        ),
        (
            min: (288, 64),
            max: (320, 96),
        ),
        (
            min: (320, 64),
            max: (352, 96),
        ),
        (
            min: (352, 64),
            max: (384, 96),
        ),
        (
            min: (384, 64),
            max: (416, 96),
        ),
        (
            min: (416, 64),
            max: (448, 96),
        ),
        (
            min: (448, 64),
            max: (480, 96),
        ),
        (
            min: (480, 64),
            max: (512, 96),
        ),
        (
            min: (512, 64),
            max: (544, 96),
        ),
        (
            min: (544, 64),
            max: (576, 96),
        ),
        (
            min: (576, 64),
            max: (608, 96),
        ),
        (
            min: (608, 64),
            max: (640, 96),
        ),
        (
            min: (640, 64),
            max: (672, 96),
        ),
        (
            min: (0, 96),
            max: (32, 128),
        ),
        (
            min: (32, 96),
            max: (64, 128),
        ),
        (
            min: (64, 96),
            max: (96, 128),
        ),
        (
            min: (96, 96),
            max: (128, 128),
        ),
        (
            min: (128, 96),
            max: (160, 128),
        ),
        (
            min: (160, 96),
            max: (192, 128),
        ),
        (
            min: (192, 96),
            max: (224, 128),
        ),
        (
            min: (224, 96),
            max: (256, 128),
        ),
        (
            min: (256, 96),
            max: (288, 128),
        ),
        (
            min: (288, 96),
            max: (320, 128),
        ),
        (
            min: (320, 96),
            max: (352, 128),
        ),
        (
            min: (352, 96),
            max: (384, 128),
        ),
        (
            min: (384, 96),
            max: (416, 128),
        ),
        (
            min: (416, 96),
            max: (448, 128),
        ),
        (
            min: (448, 96),
            max: (480, 128),
        ),
        (
            min: (480, 96),
            max: (512, 128),
        ),
        (
            min: (512, 96),
            max: (544, 128),
        ),
        (
            min: (544, 96),
            max: (576, 128),
        ),
        (
            min: (576, 96),
            max: (608, 128),
        ),
        (
            min: (608, 96),
            max: (640, 128),
        ),
        (
            min: (640, 96),
            max: (672, 128),
        ),
        (
            min: (0, 128),
            max: (32, 160),
        ),
        (
            min: (32, 128),
            max: (64, 160),
        ),
        (
            min: (64, 128),
            max: (96, 160),
        ),
        (
            min: (96, 128),
            max: (128, 160),
        ),
        (
            min: (128, 128),
            max: (160, 160),
        ),
        (
            min: (160, 128),
            max: (192, 160),
        ),
        (
            min: (192, 128),
            max: (224, 160),
        ),
        (
            min: (224, 128),
            max: (256, 160),
        ),
        (
            min: (256, 128),
            max: (288, 160),
        ),
        (
            min: (288, 128),
            max: (320, 160),
        ),
        (
            min: (320, 128),
            max: (352, 160),
        ),
        (
            min: (352, 128),
            max: (384, 160),
        ),
        (
            min: (384, 128),
            max: (416, 160),
        ),
        (
            min: (416, 128),
            max: (448, 160),
        ),
        (
            min: (448, 128),
            max: (480, 160),
        ),
        (
            min: (480, 128),
            max: (512, 160),
        ),
        (
            min: (512, 128),
            max: (544, 160),
        ),
        (
            min: (544, 128),
            max: (576, 160),
        ),
        (
            min: (576, 128),
            max: (608, 160),
        ),
        (
            min: (608, 128),
            max: (640, 160),
        ),
        (
            min: (640, 128),
            max: (672, 160),
        ),
        (
            min: (0, 160),
            max: (32, 192),
        ),
        (
            min: (32, 160),
            max: (64, 192),
        ),
        (
            min: (64, 160),
            max: (96, 192),
        ),
        (
            min: (96, 160),
            max: (128, 192),
        ),
        (
            min: (128, 160),
            max: (160, 192),
        ),
        (
            min: (160, 160),
            max: (192, 192),
        ),
        (
            min: (192, 160),
            max: (224, 192),
        ),
        (
            min: (224, 160),
            max: (256, 192),
        ),
        (
            min: (256, 160),
            max: (288, 192),
        ),
        (
            min: (288, 160),
            max: (320, 192),
        ),
        (
            min: (320, 160),
            max: (352, 192),
        ),
        (
            min: (352, 160),
            max: (384, 192),
        ),
        (
            min: (384, 160),
            max: (416, 192),
        ),
        (
            min: (416, 160),
            max: (448, 192),
        ),
        (
            min: (448, 160),
            max: (480, 192),
        ),
        (
            min: (480, 160),
            max: (512, 192),
        ),
        (
            min: (512, 160),
            max: (544, 192),
        ),
        (
            min: (544, 160),
            max: (576, 192),
        ),
        (
            min: (576, 160),
            max: (608, 192),
        ),
        (
            min: (608, 160),
            max: (640, 192),
        ),
        (
            min: (640, 160),
            max: (672, 192),
        ),
        (
            min: (0, 192),
            max: (32, 224),
        ),
        (
            min: (32, 192),
            max: (64, 224),
        ),
        (
            min: (64, 192),
            max: (96, 224),
        ),
        (
            min: (96, 192),
            max: (128, 224),
        ),
        (
            min: (128, 192),
            max: (160, 224),
        ),
        (
            min: (160, 192),
            max: (192, 224),
        ),
        (
            min: (192, 192),
            max: (224, 224),
        ),
        (
            min: (224, 192),
            max: (256, 224),
        ),
        (
            min: (256, 192),
            max: (288, 224),
        ),
        (
            min: (288, 192),
            max: (320, 224),
        ),
        (
            min: (320, 192),
            max: (352, 224),
        ),
        (
            min: (352, 192),
            max: (384, 224),
        ),
        (
            min: (384, 192),
            max: (416, 224),
        ),
        (
            min: (416, 192),
            max: (448, 224),
        ),
        (
            min: (448, 192),
            max: (480, 224),
        ),
        (
            min: (480, 192),
            max: (512, 224),
        ),
        (
            min: (512, 192),
            max: (544, 224),
        ),
        (
            min: (544, 192),
            max: (576, 224),
        ),
        (
            min: (576, 192),
            max: (608, 224),
        ),
        (
            min: (608, 192),
            max: (640, 224),
        ),
        (
            min: (640, 192),
            max: (672, 224),
        ),
        (
            min: (0, 224),
            max: (32, 256),
        ),
        (
            min: (32, 224),
            max: (64, 256),
        ),
        (
            min: (64, 224),
            max: (96, 256),
        ),
        (
            min: (96, 224),
            max: (128, 256),
        ),
        (
            min: (128, 224),
            max: (160, 256),
        ),
        (
            min: (160, 224),
            max: (192, 256),
        ),
        (
            min: (192, 224),
            max: (224, 256),
        ),
        (
            min: (224, 224),
            max: (256, 256),
        ),
        (
            min: (256, 224),
            max: (288, 256),
        ),
        (
            min: (288, 224),
            max: (320, 256),
        ),
        (
            min: (320, 224),
            max: (352, 256),
        ),
        (
            min: (352, 224),
            max: (384, 256),
        ),
        (
            min: (384, 224),
            max: (416, 256),
        ),
        (
            min: (416, 224),
            max: (448, 256),
        ),
        (
            min: (448, 224),
            max: (480, 256),
        ),
        (
            min: (480, 224),
            max: (512, 256),
        ),
        (
            min: (512, 224),
            max: (544, 256),
        ),
        (
            min: (544, 224),
            max: (576, 256),
        ),
        (
            min: (576, 224),
            max: (608, 256),
        ),
        (
            min: (608, 224),
            max: (640, 256),
        ),
        (
            min: (640, 224),
            max: (672, 256),
        ),
        (
            min: (0, 256),
            max: (32, 288),
        ),
        (
            min: (32, 256),
            max: (64, 288),
        ),
        (
            min: (64, 256),
            max: (96, 288),
        ),
        (
            min: (96, 256),
            max: (128, 288),
        ),
        (
            min: (128, 256),
            max: (160, 288),
        ),
        (
            min: (160, 256),
            max: (192, 288),
        ),
        (
            min: (192, 256),
            max: (224, 288),
        ),
        (
            min: (224, 256),
            max: (256, 288),
        ),
        (
            min: (256, 256),
            max: (288, 288),
        ),
        (
            min: (288, 256),
            max: (320, 288),
        ),
        (
            min: (320, 256),
            max: (352, 288),
        ),
        (
            min: (352, 256),
            max: (384, 288),
        ),
        (
            min: (384, 256),
            max: (416, 288),
        ),
        (
            min: (416, 256),
            max: (448, 288),
        ),
        (
            min: (448, 256),
            max: (480, 288),
        ),
        (
            min: (480, 256),
            max: (512, 288),
        ),
        (
            min: (512, 256),
            max: (544, 288),
        ),
        (
            min: (544, 256),
            max: (576, 288),
        ),
        (
            min: (576, 256),
            max: (608, 288),
        ),
        (
            min: (608, 256),
            max: (640, 288),
        ),
        (
            min: (640, 256),
            max: (672, 288),
        ),
    ],
)