(
    size: (712, 304),
    textures: [
        (
            min: (1, 1),
            max: (33, 33),
        ),
        (
            min: (35, 1),
            max: (67, 33),
        ),
        (
            min: (69, 1),
            max: (101, 33),
        ),
        (
            min: (103, 1),
            max: (135, 33),
        ),
        (
            min: (137, 1),
            max: (169, 33),
        ),
        (
            min: (171, 1),
            max: (203, 33),
        ),
        (
            min: (205, 1),
            max: (237, 33),
        ),
        (
            min: (239, 1),
            max: (271, 33),
        ),
        (
            min: (273, 1),
            max: (305, 33),
        ),
        (
            min: (307, 1),
            max: (339, 33),
        ),
        (
            min: (341, 1),
            max: (373, 33),
        ),
        (
            min: (375, 1),
            max: (407, 33),
        ),
        (
            min: (409, 1),
            max: (441, 33),
        ),
        (
            min: (443, 1),
            max: (475, 33),
        ),
        (
            min: (477, 1),
            max: (509, 33),
        ),
        (
            min: (511, 1),
            max: (543, 33),
        ),
        (
            min: (545, 1),
            max: (577, 33),
        ),
        (
            min: (579, 1),
            max: (611, 33),
        ),
        (
            min: (613, 1),
            max: (645, 33),
        ),
        (
            min: (647, 1),
            max: (679, 33),
        ),
        (
            min: (681, 1),
            max: (713, 33),
        ),
        (
            min: (1, 35),
            max: (33, 67),
        ),
        (
            min: (35, 35),
            max: (67, 67),
        ),
        (
            min: (69, 35),
            max: (101, 67),
        ),
        (
            min: (103, 35),
            max: (135, 67),
        ),
        (
            min: (137, 35),
            max: (169, 67),
        ),
        (
            min: (171, 35),
            max: (203, 67),
        ),
        (
            min: (205, 35),
            max: (237, 67),
        ),
        (
            min: (239, 35),
            max: (271, 67),
        ),
        (
            min: (273, 35),
            max: (305, 67),
        ),
        (
            min: (307, 35),
            max: (339, 67),
        ),
        (
            min: (341, 35),
            max: (373, 67),
        ),
        (
            min: (375, 35),
            max: (407, 67),
        ),
        (
            min: (409, 35),
            max: (441, 67),
        ),
        (
            min: (443, 35),
            max: (475, 67),
        ),
        (
            min: (477, 35),
            max: (509, 67),
        ),
        (
            min: (511, 35),
            max: (543, 67),
        ),
        (
            min: (545, 35),
            max: (577, 67),
        ),
        (
            min: (579, 35),
            max: (611, 67),
        ),
        (
            min: (613, 35),
            max: (645, 67),
        ),
        (
            min: (647, 35),
            max: (679, 67),
        ),
        (
            min: (681, 35),
            max: (713, 67),
        ),
        (
            min: (1, 69),
            max: (33, 101),
        ),
        (
            min: (35, 69),
            max: (67, 101),
        ),
        (
            min: (69, 69),
            max: (101, 101),
        ),
        (
            min: (103, 69),
            max: (135, 101),
        ),
        (
            min: (137, 69),
            max: (169, 101),
        ),
        (
            min: (171, 69),
            max: (203, 101),
        ),
        (
            min: (205, 69),
            max: (237, 101),
        ),
        (
            min: (239, 69),
            max: (271, 101),
        ),
        (
            min: (273, 69),
            max: (305, 101),
        ),
        (
            min: (307, 69),
            max: (339, 101),
        ),
        (
            min: (341, 69),
            max: (373, 101),
        ),
        (
            min: (375, 69),
            max: (407, 101),
        ),
        (
            min: (409, 69),
            max: (441, 101),
        ),
        (
            min: (443, 69),
            max: (475, 101),
        ),
        (
            min: (477, 69),
            max: (509, 101),
        ),
        (
            min: (511, 69),
            max: (543, 101),
        ),
        (
            min: (545, 69),
            max: (577, 101),
        ),
        (
            min: (579, 69),
            max: (611, 101),
        ),
        (
            min: (613, 69),
            max: (645, 101),
        ),
        (
            min: (647, 69),
            max: (679, 101),
        ),
        (
            min: (681, 69),
            max: (713, 101),
        ),
        (
            min: (1, 103),
            max: (33, 135),
        ),
        (
            min: (35, 103),
            max: (67, 135),
        ),
        (
            min: (69, 103),
            max: (101, 135),
        ),
        (
            min: (103, 103),
            max: (135, 135),
        ),
        (
            min: (137, 103),
            max: (169, 135),
        ),
        (
            min: (171, 103),
            max: (203, 135),
        ),
        (
            min: (205, 103),
            max: (237, 135),
        ),
        (
            min: (239, 103),
            max: (271, 135),
        ),
        (
            min: (273, 103),
            max: (305, 135),
        ),
        (
            min: (307, 103),
            max: (339, 135),
        ),
        (
            min: (341, 103),
            max: (373, 135),
        ),
        (
            min: (375, 103),
            max: (407, 135),
        ),
        (
            min: (409, 103),
            max: (441, 135),
        ),
        (
            min: (443, 103),
            max: (475, 135),
        ),
        (
            min: (477, 103),
            max: (509, 135),
        ),
        (
            min: (511, 103),
            max: (543, 135),
        ),
        (
            min: (545, 103),
            max: (577, 135),
        ),
        (
            min: (579, 103),
            max: (611, 135),
        ),
        (
            min: (613, 103),
            max: (645, 135),
        ),
        (
            min: (647, 103),
            max: (679, 135),
        ),
        (
            min: (681, 103),
            max: (713, 135),
        ),
        (
            min: (1, 137),
            max: (33, 169),
        ),
        (
            min: (35, 137),
            max: (67, 169),
        ),
        (
            min: (69, 137),
            max: (101, 169),
        ),
        (
            min: (103, 137),
            max: (135, 169),
        ),
        (
            min: (137, 137),
            max: (169, 169),
        ),
        (
            min: (171, 137),
            max: (203, 169),
        ),
        (
            min: (205, 137),
            max: (237, 169),
        ),
        (
            min: (239, 137),
            max: (271, 169),
        ),
        (
            min: (273, 137),
            max: (305, 169),
        ),
        (
            min: (307, 137),
            max: (339, 169),
        ),
        (
            min: (341, 137),
            max: (373, 169),
        ),
        (
            min: (375, 137),
            max: (407, 169),
        ),
        (
            min: (409, 137),
            max: (441, 169),
        ),
        (
            min: (443, 137),
            max: (475, 169),
        ),
        (
            min: (477, 137),
            max: (509, 169),
        ),
        (
            min: (511, 137),
            max: (543, 169),
        ),
        (
            min: (545, 137),
            max: (577, 169),
        ),
        (
            min: (579, 137),
            max: (611, 169),
        ),
        (
            min: (613, 137),
            max: (645, 169),
        ),
        (
            min: (647, 137),
            max: (679, 169),
        ),
        (
            min: (681, 137),
            max: (713, 169),
        ),
        (
            min: (1, 171),
            max: (33, 203),
        ),
        (
            min: (35, 171),
            max: (67, 203),
        ),
        (
            min: (69, 171),
            max: (101, 203),
        ),
        (
            min: (103, 171),
            max: (135, 203),
        ),
        (
            min: (137, 171),
            max: (169, 203),
        ),
        (
            min: (171, 171),
            max: (203, 203),
        ),
        (
            min: (205, 171),
            max: (237, 203),
        ),
        (
            min: (239, 171),
            max: (271, 203),
        ),
        (
            min: (273, 171),
            max: (305, 203),
        ),
        (
            min: (307, 171),
            max: (339, 203),
        ),
        (
            min: (341, 171),
            max: (373, 203),
        ),
        (
            min: (375, 171),
            max: (407, 203),
        ),
        (
            min: (409, 171),
            max: (441, 203),
        ),
        (
            min: (443, 171),
            max: (475, 203),
        ),
        (
            min: (477, 171),
            max: (509, 203),
        ),
        (
            min: (511, 171),
            max: (543, 203),
        ),
        (
            min: (545, 171),
            max: (577, 203),
        ),
        (
            min: (579, 171),
            max: (611, 203),
        ),
        (
            min: (613, 171),
            max: (645, 203),
        ),
        (
            min: (647, 171),
            max: (679, 203),
        ),
        (
            min: (681, 171),
            max: (713, 203),
        ),
        (
            min: (1, 205),
            max: (33, 237),
        ),
        (
            min: (35, 205),
            max: (67, 237),
        ),
        (
            min: (69, 205),
            max: (101, 237),
        ),
        (
            min: (103, 205),
            max: (135, 237),
        ),
        (
            min: (137, 205),
            max: (169, 237),
        ),
        (
            min: (171, 205),
            max: (203, 237),
        ),
        (
            min: (205, 205),
            max: (237, 237),
        ),
        (
            min: (239, 205),
            max: (271, 237),
        ),
        (
            min: (273, 205),
            max: (305, 237),
        ),
        (
            min: (307, 205),
            max: (339, 237),
        ),
        (
            min: (341, 205),
            max: (373, 237),
        ),
        (
            min: (375, 205),
            max: (407, 237),
        ),
        (
            min: (409, 205),
            max: (441, 237),
        ),
        (
            min: (443, 205),
            max: (475, 237),
        ),
        (
            min: (477, 205),
            max: (509, 237),
        ),
        (
            min: (511, 205),
            max: (543, 237),
        ),
        (
            min: (545, 205),
            max: (577, 237),
        ),
        (
            min: (579, 205),
            max: (611, 237),
        ),
        (
            min: (613, 205),
            max: (645, 237),
        ),
        (
            min: (647, 205),
            max: (679, 237),
        ),
        (
            min: (681, 205),
            max: (713, 237),
        ),
        (
            min: (1, 239),
            max: (33, 271),
        ),
        (
            min: (35, 239),
            max: (67, 271),
        ),
        (
            min: (69, 239),
            max: (101, 271),
        ),
        (
            min: (103, 239),
            max: (135, 271),
        ),
        (
            min: (137, 239),
            max: (169, 271),
        ),
        (
            min: (171, 239),
            max: (203, 271),
        ),
        (
            min: (205, 239),
            max: (237, 271),
        ),
        (
            min: (239, 239),
            max: (271, 271),
        ),
        (
            min: (273, 239),
            max: (305, 271),
        ),
        (
            min: (307, 239),
            max: (339, 271),
        ),
        (
            min: (341, 239),
            max: (373, 271),
        ),
        (
            min: (375, 239),
            max: (407, 271),
        ),
        (
            min: (409, 239),
            max: (441, 271),
        ),
        (
            min: (443, 239),
            max: (475, 271),
        ),
        (
            min: (477, 239),
            max: (509, 271),
        ),
        (
            min: (511, 239),
            max: (543, 271),
        ),
        (
            min: (545, 239),
            max: (577, 271),
        ),
        (
            min: (579, 239),
            max: (611, 271),
        ),
        (
            min: (613, 239),
            max: (645, 271),
        ),
        (
            min: (647, 239),
            max: (679, 271),
        ),
        (
            min: (681, 239),
            max: (713, 271),
        ),
        (
            min: (1, 273),
            max: (33, 305),
        ),
        (
            min: (35, 273),
            max: (67, 305),
        ),
        (
            min: (69, 273),
            max: (101, 305),
        ),
        (
            min: (103, 273),
            max: (135, 305),
        ),
        (
            min: (137, 273),
            max: (169, 305),
        ),
        (
            min: (171, 273),
            max: (203, 305),
        ),
        (
            min: (205, 273),
            max: (237, 305),
        ),
        (
            min: (239, 273),
            max: (271, 305),
        ),
        (
            min: (273, 273),
            max: (305, 305),
        ),
        (
            min: (307, 273),
            max: (339, 305),
        ),
        (
            min: (341, 273),
            max: (373, 305),
        ),
        (
            min: (375, 273),
            max: (407, 305),
        ),
        (
            min: (409, 273),
            max: (441, 305),
        ),
        (
            min: (443, 273),
            max: (475, 305),
        ),
        (
            min: (477, 273),
            max: (509, 305),
        ),
        (
            min: (511, 273),
            max: (543, 305),
        ),
        (
            min: (545, 273),
            max: (577, 305),
        ),
        (
            min: (579, 273),
            max: (611, 305),
        ),
        (
            min: (613, 273),
            max: (645, 305),
        ),
        (
            min: (647, 273),
            max: (679, 305),
        ),
        (
            min: (681, 273),
            max: (713, 305),
        ),
    ],
)