(
    size: (814, 134),
    textures: [
        (
            min: (1, 1),
            max: (33, 33),
        ),
        (
            min: (35, 1),
            max: (67, 33),
        ),
        (
            min: (69, 1),
            max: (101, 33),
        ),
        (
            min: (103, 1),
            max: (135, 33),
        ),
        (
            min: (137, 1),
            max: (169, 33),
        ),
        (
            min: (171, 1),
            max: (203, 33),
        ),
        (
            min: (205, 1),
            max: (237, 33),
        ),
        (
            min: (239, 1),
            max: (271, 33),
        ),
        (
            min: (273, 1),
            max: (305, 33),
        ),
        (
            min: (307, 1),
            max: (339, 33),
        ),
        (
            min: (341, 1),
            max: (373, 33),
        ),
        (
            min: (375, 1),
            max: (407, 33),
        ),
        (
            min: (409, 1),
            max: (441, 33),
        ),
        (
            min: (443, 1),
            max: (475, 33),
        ),
        (
            min: (477, 1),
            max: (509, 33),
        ),
        (
            min: (511, 1),
            max: (543, 33),
        ),
        (
            min: (545, 1),
            max: (577, 33),
        ),
        (
            min: (579, 1),
            max: (611, 33),
        ),
        (
            min: (613, 1),
            max: (645, 33),
        ),
        (
            min: (647, 1),
            max: (679, 33),
        ),
        (
            min: (681, 1),
            max: (713, 33),
        ),
        (
            min: (715, 1),
            max: (747, 33),
        ),
        (
            min: (749, 1),
            max: (781, 33),
        ),
        (
            min: (783, 1),
            max: (815, 33),
        ),
        (
            min: (1, 35),
            max: (33, 67),
        ),
        (
            min: (35, 35),
            max: (67, 67),
        ),
        (
            min: (69, 35),
            max: (101, 67),
        ),
        (
            min: (103, 35),
            max: (135, 67),
        ),
        (
            min: (137, 35),
            max: (169, 67),
        ),
        (
            min: (171, 35),
            max: (203, 67),
        ),
        (
            min: (205, 35),
            max: (237, 67),
        ),
        (
            min: (239, 35),
            max: (271, 67),
        ),
        (
            min: (273, 35),
            max: (305, 67),
        ),
        (
            min: (307, 35),
            max: (339, 67),
        ),
        (
            min: (341, 35),
            max: (373, 67),
        ),
        (
            min: (375, 35),
            max: (407, 67),
        ),
        (
            min: (409, 35),
            max: (441, 67),
        ),
        (
            min: (443, 35),
            max: (475, 67),
        ),
        (
            min: (477, 35),
            max: (509, 67),
        ),
        (
            min: (511, 35),
            max: (543, 67),
        ),
        (
            min: (545, 35),
            max: (577, 67),
        ),
        (
            min: (579, 35),
            max: (611, 67),
        ),
        (
            min: (613, 35),
            max: (645, 67),
        ),
        (
            min: (647, 35),
            max: (679, 67),
        ),
        (
            min: (681, 35),
            max: (713, 67),
        ),
        (
            min: (715, 35),
            max: (747, 67),
        ),
        (
            min: (749, 35),
            max: (781, 67),
        ),
        (
            min: (783, 35),
            max: (815, 67),
        ),
        (
            min: (1, 69),
            max: (33, 101),
        ),
        (
            min: (35, 69),
            max: (67, 101),
        ),
        (
            min: (69, 69),
            max: (101, 101),
        ),
        (
            min: (103, 69),
            max: (135, 101),
        ),
        (
            min: (137, 69),
            max: (169, 101),
        ),
        (
            min: (171, 69),
            max: (203, 101),
        ),
        (
            min: (205, 69),
            max: (237, 101),
        ),
        (
            min: (239, 69),
            max: (271, 101),
        ),
        (
            min: (273, 69),
            max: (305, 101),
        ),
        (
            min: (307, 69),
            max: (339, 101),
        ),
        (
            min: (341, 69),
            max: (373, 101),
        ),
        (
            min: (375, 69),
            max: (407, 101),
        ),
        (
            min: (409, 69),
            max: (441, 101),
        ),
        (
            min: (443, 69),
            max: (475, 101),
        ),
        (
            min: (477, 69),
            max: (509, 101),
        ),
        (
            min: (511, 69),
            max: (543, 101),
        ),
        (
            min: (545, 69),
            max: (577, 101),
        ),
        (
            min: (579, 69),
            max: (611, 101),
        ),
        (
            min: (613, 69),
            max: (645, 101),
        ),
        (
            min: (647, 69),
            max: (679, 101),
        ),
        (
            min: (681, 69),
            max: (713, 101),
        ),
        (
            min: (715, 69),
            max: (747, 101),
        ),
        (
            min: (749, 69),
            max: (781, 101),
        ),
        (
            min: (783, 69),
            max: (815, 101),
        ),
        (
            min: (1, 103),
            max: (33, 135),
        ),
        (
            min: (35, 103),
            max: (67, 135),
        ),
        (
            min: (69, 103),
            max: (101, 135),
        ),
        (
            min: (103, 103),
            max: (135, 135),
        ),
        (
            min: (137, 103),
            max: (169, 135),
        ),
        (
            min: (171, 103),
            max: (203, 135),
        ),
        (
            min: (205, 103),
            max: (237, 135),
        ),
        (
            min: (239, 103),
            max: (271, 135),
        ),
        (
            min: (273, 103),
            max: (305, 135),
        ),
        (
            min: (307, 103),
            max: (339, 135),
        ),
        (
            min: (341, 103),
            max: (373, 135),
        ),
        (
            min: (375, 103),
            max: (407, 135),
        ),
        (
            min: (409, 103),
            max: (441, 135),
        ),
        (
            min: (443, 103),
            max: (475, 135),
        ),
        (
            min: (477, 103),
            max: (509, 135),
        ),
        (
            min: (511, 103),
            max: (543, 135),
        ),
        (
            min: (545, 103),
            max: (577, 135),
        ),
        (
            min: (579, 103),
            max: (611, 135),
        ),
        (
            min: (613, 103),
            max: (645, 135),
        ),
        (
            min: (647, 103),
            max: (679, 135),
        ),
        (
            min: (681, 103),
            max: (713, 135),
        ),
        (
            min: (715, 103),
            max: (747, 135),
        ),
        (
            min: (749, 103),
            max: (781, 135),
        ),
        (
            min: (783, 103),
            max: (815, 135),
        ),
    ],
)