(
    size: (768, 128),
    textures: [
        (
            min: (0, 0),
            max: (32, 32),
        ),
        (
            min: (32, 0),
            max: (64, 32),
        ),
        (
            min: (64, 0),
            max: (96, 32),
        ),
        (
            min: (96, 0),
            max: (128, 32),
        ),
        (
            min: (128, 0),
            max: (160, 32),
        ),
        (
            min: (160, 0),
            max: (192, 32),
        ),
        (
            min: (192, 0),
            max: (224, 32),
        ),
        (
            min: (224, 0),
            max: (256, 32),
        ),
        (
            min: (256, 0),
            max: (288, 32),
        ),
        (
            min: (288, 0),
            max: (320, 32),
        ),
        (
            min: (320, 0),
            max: (352, 32),
        ),
        (
            min: (352, 0),
            max: (384, 32),
        ),
        (
            min: (384, 0),
            max: (416, 32),
        ),
        (
            min: (416, 0),
            max: (448, 32),
        ),
        (
            min: (448, 0),
            max: (480, 32),
        ),
        (
            min: (480, 0),
            max: (512, 32),
        ),
        (
            min: (512, 0),
            max: (544, 32),
        ),
        (
            min: (544, 0),
            max: (576, 32),
        ),
        (
            min: (576, 0),
            max: (608, 32),
        ),
        (
            min: (608, 0),
            max: (640, 32),
        ),
        (
            min: (640, 0),
            max: (672, 32),
        ),
        (
            min: (672, 0),
            max: (704, 32),
        ),
        (
            min: (704, 0),
            max: (736, 32),
        ),
        (
            min: (736, 0),
            max: (768, 32),
        ),
        (
            min: (0, 32),
            max: (32, 64),
        ),
        (
            min: (32, 32),
            max: (64, 64),
        ),
        (
            min: (64, 32),
            max: (96, 64),
        ),
        (
            min: (96, 32),
            max: (128, 64),
        ),
        (
            min: (128, 32),
            max: (160, 64),
        ),
        (
            min: (160, 32),
            max: (192, 64),
        ),
        (
            min: (192, 32),
            max: (224, 64),
        ),
        (
            min: (224, 32),
            max: (256, 64),
        ),
        (
            min: (256, 32),
            max: (288, 64),
        ),
        (
            min: (288, 32),
            max: (320, 64),
        ),
        (
            min: (320, 32),
            max: (352, 64),
        ),
        (
            min: (352, 32),
            max: (384, 64),
        ),
        (
            min: (384, 32),
            max: (416, 64),
        ),
        (
            min: (416, 32),
            max: (448, 64),
        ),
        (
            min: (448, 32),
            max: (480, 64),
        ),
        (
            min: (480, 32),
            max: (512, 64),
        ),
        (
            min: (512, 32),
            max: (544, 64),
        ),
        (
            min: (544, 32),
            max: (576, 64),
        ),
        (
            min: (576, 32),
            max: (608, 64),
        ),
        (
            min: (608, 32),
            max: (640, 64),
        ),
        (
            min: (640, 32),
            max: (672, 64),
        ),
        (
            min: (672, 32),
            max: (704, 64),
        ),
        (
            min: (704, 32),
            max: (736, 64),
        ),
        (
            min: (736, 32),
            max: (768, 64),
        ),
        (
            min: (0, 64),
            max: (32, 96),
        ),
        (
            min: (32, 64),
            max: (64, 96),
        ),
        (
            min: (64, 64),
            max: (96, 96),
        ),
        (
            min: (96, 64),
            max: (128, 96),
        ),
        (
            min: (128, 64),
            max: (160, 96),
        ),
        (
            min: (160, 64),
            max: (192, 96),
        ),
        (
            min: (192, 64),
            max: (224, 96),
        ),
        (
            min: (224, 64),
            max: (256, 96),
        ),
        (
            min: (256, 64),
            max: (288, 96),
        ),
        (
            min: (288, 64),
            max: (320, 96),
        ),
        (
            min: (320, 64),
            max: (352, 96),
        ),
        (
            min: (352, 64),
            max: (384, 96),
        ),
        (
            min: (384, 64),
            max: (416, 96),
        ),
        (
            min: (416, 64),
            max: (448, 96),
        ),
        (
            min: (448, 64),
            max: (480, 96),
        ),
        (
            min: (480, 64),
            max: (512, 96),
        ),
        (
            min: (512, 64),
            max: (544, 96),
        ),
        (
            min: (544, 64),
            max: (576, 96),
        ),
        (
            min: (576, 64),
            max: (608, 96),
        ),
        (
            min: (608, 64),
            max: (640, 96),
        ),
        (
            min: (640, 64),
            max: (672, 96),
        ),
        (
            min: (672, 64),
            max: (704, 96),
        ),
        (
            min: (704, 64),
            max: (736, 96),
        ),
        (
            min: (736, 64),
            max: (768, 96),
        ),
        (
            min: (0, 96),
            max: (32, 128),
        ),
        (
            min: (32, 96),
            max: (64, 128),
        ),
        (
            min: (64, 96),
            max: (96, 128),
        ),
        (
            min: (96, 96),
            max: (128, 128),
        ),
        (
            min: (128, 96),
            max: (160, 128),
        ),
        (
            min: (160, 96),
            max: (192, 128),
        ),
        (
            min: (192, 96),
            max: (224, 128),
        ),
        (
            min: (224, 96),
            max: (256, 128),
        ),
        (
            min: (256, 96),
            max: (288, 128),
        ),
        (
            min: (288, 96),
            max: (320, 128),
        ),
        (
            min: (320, 96),
            max: (352, 128),
        ),
        (
            min: (352, 96),
            max: (384, 128),
        ),
        (
            min: (384, 96),
            max: (416, 128),
        ),
        (
            min: (416, 96),
            max: (448, 128),
        ),
        (
            min: (448, 96),
            max: (480, 128),
        ),
        (
            min: (480, 96),
            max: (512, 128),
        ),
        (
            min: (512, 96),
            max: (544, 128),
        ),
        (
            min: (544, 96),
            max: (576, 128),
        ),
        (
            min: (576, 96),
            max: (608, 128),
        ),
        (
            min: (608, 96),
            max: (640, 128),
        ),
        (
            min: (640, 96),
            max: (672, 128),
        ),
        (
            min: (672, 96),
            max: (704, 128),
        ),
        (
            min: (704, 96),
            max: (736, 128),
        ),
        (
            min: (736, 96),
            max: (768, 128),
        ),
    ],
)