(
    size: (96, 128),
    textures: [
        (
            min: (0, 0),
            max: (32, 32),
        ),
        (
            min: (32, 0),
            max: (64, 32),
        ),
        (
            min: (64, 0),
            max: (96, 32),
        ),
        (
            min: (0, 32),
            max: (32, 64),
        ),
        (
            min: (32, 32),
            max: (64, 64),
        ),
        (
            min: (64, 32),
            max: (96, 64),
        ),
        (
            min: (0, 64),
            max: (32, 96),
        ),
        (
            min: (32, 64),
            max: (64, 96),
        ),
        (
            min: (64, 64),
            max: (96, 96),
        ),
        (
            min: (0, 96),
            max: (32, 128),
        ),
        (
            min: (32, 96),
            max: (64, 128),
        ),
        (
            min: (64, 96),
            max: (96, 128),
        ),
    ],
)