(
    size: (337, 228),
    textures: [
        (
            min: (0, 0),
            max: (15, 22),
        ),
        (
            min: (0, 22),
            max: (15, 44),
        ),
        (
            min: (0, 44),
            max: (15, 66),
        ),
        (
            min: (0, 66),
            max: (15, 88),
        ),
        (
            min: (0, 88),
            max: (15, 110),
        ),
        (
            min: (0, 110),
            max: (15, 132),
        ),
        (
            min: (15, 0),
            max: (30, 22),
        ),
        (
            min: (15, 22),
            max: (30, 44),
        ),
        (
            min: (15, 44),
            max: (30, 66),
        ),
        (
            min: (15, 66),
            max: (30, 88),
        ),
        (
            min: (15, 88),
            max: (30, 110),
        ),
        (
            min: (15, 110),
            max: (30, 132),
        ),
        (
            min: (30, 0),
            max: (45, 22),
        ),
        (
            min: (30, 22),
            max: (45, 44),
        ),
        (
            min: (30, 44),
            max: (45, 66),
        ),
        (
            min: (30, 66),
            max: (45, 88),
        ),
        (
            min: (30, 88),
            max: (45, 110),
        ),
        (
            min: (30, 110),
            max: (45, 132),
        ),
    ],
)
