(
    width: 2,
    height: 2,
    tile_grid: [
        Some((
            passability: Always,
            sprite_id_stack: [
                "water_wild",
                "hugelbugel",
            ],
        )),
        Some((
            passability: Surf,
            sprite_id_stack: "water_wild",
        )),
        Some((
            passability: Surf,
            sprite_id_stack: "water_wild",
        )),
        None,
    ],
    game_object_ids: [],
)
